<style>
	.home-footer {
		margin-top: 60px;
	}
	.section {
		padding-bottom: 60px;
	}
	.gray-bg {
		background-color: #f2f2f2 !important;
	}
	.section-fluid {
		margin-right: auto;
		margin-left: auto;
	}

	@media(min-width: 1400px) {
		body.not-front .container {
			width: 1350px;
		}
	}
	@media(min-width: 992px) {
		.col-md-4 {
			width: 33.3333333333%;
		}
	}
	@media(min-width: 992px) {
		.col-md-1,
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6,
		.col-md-7,
		.col-md-8,
		.col-md-9,
		.col-md-10,
		.col-md-11,
		.col-md-12 {
			float: left;
		}
	}

	.home-footer .container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.home-footer .container::before,
	.container::after {
		display: table;
		content: " ";
	}

	.home-footer .row {
		margin-right: -15px;
		margin-left: -15px;
	}

	.topmargin {
		margin-top: 5.5rem !important;
	}

	.home-footer .row::before,
	.row::after {
		display: table;
		content: " ";
	}

	.home-footer .divider {
		border: none;
		border-top: solid;
		border-width: 0.3rem;
		border-color: #ededed;
		margin: 0 1.4rem 2.5rem;
	}
	.home-footer .container::before,
	.container::after {
		display: table;
		content: " ";
	}

	@media(min-width: 992px) {
		.home-footer .col-md-9 {
			width: 75%;
		}
	}
	@media(min-width: 992px) {
		.home-footer .col-md-4 {
			width: 33.3333333333%;
		}
	}

	.home-footer h4 {
		display: block;
		font-family: var(--font-family-heading);
		font-size: 20px;
		font-weight: 700;
		color: #454545;
		letter-spacing: 0.95px;
		line-height: 1.1;
		text-transform: uppercase;
		margin-bottom: 7.14286px;
		margin-top: 7.14286px;
	}

	.home-footer h4::after {
		content: '';
		display: block;
		margin-left: 1px;
		margin-top: 10px;
		border-top: #00a1d9 solid 3px;
		width: 15%;
	}

	.home-footer ul {
		font-size: 1.4rem;
		color: #454545;
		letter-spacing: -0.35px;
		line-height: 1.35;
		margin-top: 0;
	}
	.home-footer .nav {
		padding-left: 0;
		margin-bottom: 2rem;
		list-style: none;
	}
	.home-footer ul,
	menu,
	dir {
		display: block;
		list-style-type: disc;
		margin-block-end: 1em;
		padding-inline-start: 40px;
	}
	.home-footer ul li {
		/* margin-bottom: 1rem; */
		padding-left: 2.38rem;
	}
	.home-footer ul li.collapsed,
	ul li.expanded,
	ul li.leaf {
		list-style: none;
		list-style-image: none;
	}
	.home-footer .nav > li {
		position: relative;
		display: block;
	}
	.home-footer ul li {
		list-style-image: none;
		list-style-type: none;
		margin-left: 0;
		text-align: match-parent;
		vertical-align: middle;
	}
	.home-footer ul li::before {
		margin-top: 0.5rem;
		font: var(--fa-font-solid);
		font-size: 10px;
		/*font-family: "Font Awesome 6 Free" !important;*/
		content: "\f111";
		float: left;
		margin-left: -1.75rem;
		margin-right: 0;
		padding-top: 0.3000428633rem;
		color: #c4c4c4;
	}
	.home-footer ul li a {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		padding: 0;
		display: inline;
		color: #454545;
		text-decoration: none;
	}
	.home-footer .row::before,
	.row::after {
		clear: both;
	}
	.home-footer .footer_banner_item:nth-child(1) {
		background-color: #009edb;
		color: #ffffff;
		font-size: 2rem;
		padding: 35px;
		margin-bottom: 35px;
		text-align: center;
	}
	.home-footer .footer_banner_item:nth-child(2) {
		background-color: #ffffff;
		padding: 35px;
		margin-bottom: 0;
	}
    .footer-fluid {
        border-top: #009edb solid 0.3rem;
        background: #333333;
    }
    .footer {
        margin-top: 0;
        padding-top: 31.7967997456px;
        padding-bottom: 3.3rem;
        border-top: none;
    }
    .footer .footer-brand a {
        display: block;
        padding: 0;
        width: 17rem;
        height: 3.3rem;
        background: url(//www.un.org/sites/un2.un.org/themes/bootstrap_un2/images/logo-en-reverse.svg) no-repeat;
        background-position: top left;
    }
    .footer .footer-brand a span {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
</style>
<div class="section section-fluid home-footer gray-bg">
	<div class="container">
		<div class="row topmargin">
			<div class="divider"></div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4">
						<section class="region region-footer-1">
							<div class="block block-menu">
								<h4 class="font-bold">About</h4>
								<ul class="menu nav">
									<li class="leaf">
										<a href="https://www.un.org/en/library/contact-us">Contact Us</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/our-activities">Our Activities</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/our-mandate-history">Our Mandate & History</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/our-collections">Our Collections</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/united-nations-depository-library-programme">UN Depository Libraries</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/librarynews">Library News</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
					<div class="col-md-4">
						<section class="region region-footer-1">
							<div class="block block-menu">
								<h4 class="font-bold">Find</h4>
								<ul class="menu nav">
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/articles-books-more">Articles, Books & More</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/databases">Databases</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/journals">Journals</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/un-resources-documents">UN Resources & Documents</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/un-libraries">UN Libraries</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
					<div class="col-md-4">
						<section class="region region-footer-1">
							<div class="block block-menu">
								<h4 class="font-bold">Services for...</h4>
								<ul class="menu nav">
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/services-delegates">Delegates</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/services-un-staff">UN Staff</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/services-researchers-and-librarians">Researchers & Librarians</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/services-general-public">General Public</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<section class="region region-footer-1">
							<div class="block block-menu">
								<h4 class="font-bold">Research the UN</h4>
								<ul class="menu nav">
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/un-resources-documents">UN Resources & Documents</a>
									</li>
									<li class="leaf">
										<a href="https://digitallibrary.un.org/">UN Digital Library</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/index-proceedings">Index to Proceedings</a>
									</li>
									<li class="leaf">
										<a href="http://metadata.un.org/">Linked Data Services</a>
									</li>
									<li class="leaf">
										<a href="http://research.un.org/en">Research Guides</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/speeches-and-meetings">Speeches</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/unms">UN Member States on the Record</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
					<div class="col-md-4">
						<section class="region region-footer-1">
							<div class="block block-menu">
								<h4 class="font-bold">Help</h4>
								<ul class="menu nav">
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/training-and-events">Training</a>
									</li>
									<li class="leaf">
										<a href="http://research.un.org/en">Research Guides</a>
									</li>
									<li class="leaf">
										<a href="http://ask.un.org/">Ask DAG</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
					<div class="col-md-4">
						<section class="region region-footer-1">
							<div class="block block-menu">
								<h4 class="font-bold">Using the Library</h4>
								<ul class="menu nav">
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/access-electronic-resources">Access Electronic Resources</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/borrow-books-more">Borrow Books & More</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/request-articles-books-documents">Request Articles, Books & Documents</a>
									</li>
									<li class="leaf">
										<a href="https://www.un.org/en/library/page/visit-library">Visit the Library</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
			<div class="col-md-3" id="footer_banner">
				<div class="view view-footer-banner-by-og view-id-footer_banner_by_og view-display-id-block">
					<div class="view-content">
						<div id="views-bootstrap-grid-4" class="views-bootstrap-grid-plugin-style">
							<div class="row">
								<div class="footer_banner_item col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<p>169,000 pages digitized in 2023</p>
								</div>
								<div class="footer_banner_item col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<h4 class="font-bold">OPENING HOURS:</h4>
									<p>
										<strong>Monday to Friday</strong>
									</p>
									<p>
										<a href="https://www.un.org/en/library/contact-us" target="_blank">Online: 9am–5pm ET</a>
									</p>
									<p>1st Floor Reading rooms:&nbsp;11am-3pm ET</p>
									<p>2nd Floor Reading rooms: 10am-5pm ET</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end og footer -->

	<!-- begin un-footer -->
	<!-- UN.ORG footer -->
		<div class="section-fluid footer-fluid"> <footer class="footer container dark">
			<div
				class="row">
				<!-- row -->
				<div class="col-md-12">
					<div
						class="pull-left flip footer-brand en">
						<!-- footer brand -->
						<a href="https://www.un.org/en/" title="Home">
							<span class="site-name">United Nations</span>
						</a>
					</div>
					<!-- /footer brand -->
					<div class="pull-right flip donate">
						<a href="https://www.un.org/en/about-us/how-to-donate-to-the-un-system" class="btn btn-default btn-reverse dark" role="button" id="donate_button">Donate</a>
					</div>
					<div
						class="pull-right flip social-media" role="navigation">
						<!-- social media links -->
						<ul class="nav list-inline">
							<li class="list-inline-item twitter">
								<a href="https://twitter.com/UNLibrary">
									<span class="icon-text">twitter</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- /social media links -->
				</div>
			</div>
			<!-- /row -->
			<div
				class="row footer-links">
				<!-- row -->
				<div class="divider"></div>
				<!-- top border -->
				<div class="col-md-12">
					<div class="pull-right flip">
						<div id="block-menu-menu-footer-links" class="block block-menu" role="navigation">
							<ul class="nav list-inline">
								<li class="list-inline-item ">
									<a href="https://www.un.org/en/site-index">A-Z Site Index</a>
								</li>
								<li class="list-inline-item ">
									<a href="https://www.un.org/en/contact-us-0">Contact</a>
								</li>
								<li class="list-inline-item ">
									<a href="https://www.un.org/en/about-us/copyright">Copyright</a>
								</li>
								<li class="list-inline-item ">
									<a href="https://www.un.org/en/about-us/frequently-asked-questions">FAQ</a>
								</li>
								<li class="list-inline-item ">
									<a href="https://www.un.org/en/about-us/fraud-alert">Fraud Alert</a>
								</li>
								<li class="list-inline-item ">
									<a href="https://www.un.org/en/about-us/privacy-notice">Privacy Notice</a>
								</li>
								<li class="list-inline-item last">
									<a href="https://www.un.org/en/about-us/terms-of-use">Terms of Use</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</footer>
	</div>
	<!-- UN.ORG footer end -->
</div>
