<style>
		
	nav#brand-bar {
		margin-left: 0px;
		margin-right: 0px;
		border-bottom: #009edb solid 5px !important;
	}
	.navbar-brand::before {
		font:  var(--fa-font-solid);
		color: black;
		content: "\f015";
		font-size: 18px;
		margin-right: 8px;
		{% if request.lang == 'ar' %}
		float: right;
		{% else %}
		float: left;
		{% endif %}
	}
	.navbar-brand {
		font-family: var(--font-family);
		font-size: 12.35px;;
		letter-spacing: 0.375px;
	}
	.language-switcher {
		margin-left: 3em;
		margin-right: 3em;
	}
	.language-switcher button.navbar-toggle {
		margin-top: 0;
		border: none;
		padding: 0;
		background: transparent;
		border-radius: 0;
		margin-right: 2px;
	}
	.navbar-collapse::before, .navbar-collapse::after {
		display: table;
		content: " ";
	}
	.language-switcher #language-switcher {
		border-top: none;
		padding: 0;
	}
	@media (min-width: 768px) {
		.navbar-toggle {
			display: none;
		}
		.navbar-collapse {
			display: block;
		}
		.collapse {
			margin-right: 0;
			margin-left: 0;
			display: block !important;
			height: auto !important;
			padding-bottom: 0;
			overflow: visible !important;
		}
		.navbar-right {
			{% if request.lang == 'ar' %}
			float: left !important;
			margin-right: auto;
			margin-left: 0;
			{% else %}
			float: right !important;
			margin-right: 0;
			margin-left: auto;
			{% endif %}
		}
	}
	li.nav-item {
		margin-left: 0;
		margin-right: 0;
		padding: 0px;
	}
	li a.nav-link {
		padding-left: 12px;
		padding-right: 12px;
		color: black;
		font-family: var(--font-family);
		display: inline;
		font-size: 12.35px;
	}
	.navbar-collapse {
		flex-grow: 1;
		flex-basis: 0%;
		align-items: center;
	}
</style>
<nav
	id="brand-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- UN global brand bar -->
	<div class="container-fluid language-switcher">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#language-switcher" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{ 'Welcome to the United Nations' | trans }}</a>
		</div>
		<div class="navbar-collapse collapse" id="language-switcher">
			<nav role="navigation" class="navbar-right">
				<ul class="language-switcher-locale-url nav" role="menu">
					<li class="ar first nav-item">
						{% if request.lang == 'ar' %}
							<a href="./ar" class="nav-link active" xml:lang="ar" title="مكتبة داغ همرشولد" role="menuitem">العربية</a>
						{% else %}
							<a href="./ar" class="nav-link" xml:lang="ar" title="مكتبة داغ همرشولد" role="menuitem">العربية</a>
						{% endif %}
					</li>
					<li class="zh-hans nav-item lang">
						{% if request.lang == 'zh' %}
							<a href="./zh" class="nav-link active" xml:lang="zh-hans" title="图书馆" role="menuitem">中文</a>
						{% else %}
							<a href="./zh" class="nav-link" xml:lang="zh-hans" title="图书馆" role="menuitem">中文</a>
						{% endif %}
					</li>
					<li class="en nav-item">
						{% if request.lang == 'en' %}
							<a href="./en" class="nav-link active" xml:lang="en" title="Library" role="menuitem">English</a>
						{% else %}
							<a href="./en" class="nav-link" xml:lang="en" title="Library" role="menuitem">English</a>
						{% endif %}
					</li>
					<li class="fr nav-item">
						{% if request.lang == 'fr' %}
							<a href="./fr" class="nav-link active" xml:lang="fr" title="Bibliothèque Dag Hammarskjöld" role="menuitem">Français</a>
						{% else %}
							<a href="./fr" class="nav-link" xml:lang="fr" title="Bibliothèque Dag Hammarskjöld" role="menuitem">Français</a>
						{% endif %}
					</li>
					<li class="ru nav-item">
						{% if request.lang == 'ru' %}
							<a href="./ru" class="nav-link active" xml:lang="ru" title="Дага Хаммаршельда Библиотека" role="menuitem">Русский</a>
						{% else %}
							<a href="./ru" class="nav-link" xml:lang="ru" title="Дага Хаммаршельда Библиотека" role="menuitem">Русский</a>
						{% endif %}
					</li>
					<li class="es nav-item">
						{% if request.lang == 'es' %}
							<a href="./es" class="nav-link active" xml:lang="es" title="Biblioteca Dag Hammarskjöld" role="menuitem">Español</a>
						{% else %}
							<a href="./es" class="nav-link" xml:lang="es" title="Biblioteca Dag Hammarskjöld" role="menuitem">Español</a>
						{% endif %}
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- /.container -->
</nav>

<div
	id="library-header" class="container">
	<!-- <nav class="navbar navbar-default"> -->
	<div class="navbar-header">

		<a class="logo navbar-btn pull-left flip emblem_menu_and_masthead" href="/en" title="United Nations">
			<img src="https://www.un.org/sites/un2.un.org/themes/bootstrap_un2/logo.png" alt="UN logo">
		</a>
		<div class="navbar-brand-img-subtitle-1 col-md-5">
			<a href="/en/library">Dag Hammarskjöld Library</a>
		</div>


		<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-main-menu">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>


	<div class="collapse navbar-collapse" id="bs-navbar-main-menu">
		<ul id="main-menu" class="nav navbar-nav">
			<li class="menu-20243 top-level">
				<a href="#" role="button" class="" aria-expanded="false" title="">About
					<span class="sf-sub-indicator">
						»</span>
				</a>
				<ul class="subnav" id="subnav-20243">
					<li class="menu-20243">
						<a href="/en/library/contact-us" title="" class="">Contact Us</a>
					</li>
					<li class="menu-20243">
						<a href="/en/library/page/our-activities" title="" class="">Our Activities</a>
					</li>
					<li class="menu-20243">
						<a href="/en/library/page/our-mandate-history" title="" class="">Our Mandate &amp; History</a>
					</li>
					<li class="menu-20243">
						<a href="/en/library/page/our-collections" title="" class="">Our Collections</a>
					</li>
					<li class="menu-20243">
						<a href="/en/library/page/united-nations-depository-library-programme" title="" class="">UN Depository Libraries</a>
					</li>
					<li class="menu-20243">
						<a href="/en/library/librarynews" title="" class="">Library News</a>
					</li>
				</ul>
			</li>
			<li class="menu-20246 top-level">
				<a href="#" role="button" class="" aria-expanded="false" title="">Research the UN
					<span class="sf-sub-indicator">
						»</span>
				</a>
				<ul class="subnav" id="subnav-20246">
					<li class="menu-20246">
						<a href="/en/library/page/un-resources-documents" title="" class="">UN Resources &amp; Documents</a>
					</li>
					<li class="menu-20246">
						<a href="https://digitallibrary.un.org/" title="" class="">UN Digital Library</a>
					</li>
					<li class="menu-20246">
						<a href="/en/library/page/index-proceedings" title="" class="">Index to Proceedings</a>
					</li>
					<li class="menu-20246">
						<a href="http://metadata.un.org/" title="" class="">Linked Data Services</a>
					</li>
					<li class="menu-20246">
						<a href="http://research.un.org/en" title="" class="">Research Guides</a>
					</li>
					<li class="menu-20246">
						<a href="/en/library/page/speeches-and-meetings" title="" class="">Speeches</a>
					</li>
					<li class="menu-20246">
						<a href="/en/library/page/voting-information" title="" class="">Voting Information</a>
					</li>
					<li class="menu-20246">
						<a href="/en/library/unms" title="" class="">Member States on the Record</a>
					</li>
				</ul>
			</li>
			<li class="menu-20249 top-level">
				<a href="#" role="button" class="" aria-expanded="false" title="">Find
					<span class="sf-sub-indicator">
						»</span>
				</a>
				<ul class="subnav" id="subnav-20249">
					<li class="menu-20249">
						<a href="/en/library/page/articles-books-more" title="" class="">Articles, Books &amp; More</a>
					</li>
					<li class="menu-20249">
						<a href="/en/library/page/databases" title="" class="">Databases</a>
					</li>
					<li class="menu-20249">
						<a href="/en/library/page/journals" title="" class="">Journals</a>
					</li>
					<li class="menu-20249">
						<a href="/en/library/page/un-resources-documents" title="" class="">UN Resources &amp; Documents</a>
					</li>
					<li class="menu-20249">
						<a href="/en/library/page/un-libraries" title="" class="">UN Libraries</a>
					</li>
				</ul>
			</li>
			<li class="menu-20252 top-level">
				<a href="#" role="button" class="" aria-expanded="false" title="">Help
					<span class="sf-sub-indicator">
						»</span>
				</a>
				<ul class="subnav " id="subnav-20252">
					<li class="menu-20252">
						<a href="/en/library/page/training-and-events" title="" class="">Training</a>
					</li>
					<li class="menu-20252">
						<a href="http://research.un.org/en" title="" class="">Research Guides</a>
					</li>
					<li class="menu-20252">
						<a href="http://ask.un.org/" title="" class="">Ask DAG</a>
					</li>
				</ul>
			</li>
			<li class="menu-20255 top-level">
				<a href="#" role="button" class="" aria-expanded="false" title="">Services for...
					<span class="sf-sub-indicator">
						»</span>
				</a>
				<ul class="subnav " id="subnav-20255">
					<li class="menu-20255">
						<a href="/en/library/page/services-delegates" title="" class="">Delegates</a>
					</li>
					<li class="menu-20255">
						<a href="/en/library/page/services-un-staff" title="" class="">UN Staff</a>
					</li>
					<li class="menu-20255">
						<a href="/en/library/page/services-researchers-and-librarians" title="" class="">Researchers &amp; Librarians</a>
					</li>
					<li class="menu-20255">
						<a href="/en/library/page/services-general-public" title="" class="">General Public</a>
					</li>
				</ul>
			</li>
			<li class="menu-20258 top-level">
				<a href="#" role="button" class="" aria-expanded="false" title="">Using the Library
					<span class="sf-sub-indicator">
						»</span>
				</a>
				<ul class="subnav " id="subnav-20258">
					<li class="menu-20258">
						<a href="/en/library/page/access-electronic-resources" title="" class="">Access Electronic Resources</a>
					</li>
					<li class="menu-20258">
						<a href="/en/library/page/borrow-books-more" title="" class="">Borrow Books &amp; More</a>
					</li>
					<li class="menu-20258">
						<a href="/en/library/page/request-articles-books-documents" title="" class="">Request Articles, Books &amp; Documents</a>
					</li>
					<li class="menu-20258">
						<a href="/en/library/page/visit-library" title="" class="">Visit the Library</a>
					</li>
				</ul>
			</li>
			<li class="menu-47757 top-level">
				<a href="https://www.un.org/en/library/OS" role="button" title="" class="">Open Science
				</a>
			</li>
			<li class="menu-20261 top-level">
				<a href="/en/library/contact-us" role="button" class="" aria-expanded="false" title="">Contact Us
					<span class="sf-sub-indicator">
						»</span>
				</a>
				<ul class="subnav " id="subnav-20261">
					<li class="menu-20261">
						<a href="/en/library/contact-us" title="" class="">Contact Us</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
